<!DOCTYPE html>
<html>
  <head>
    <title>SparrowHood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Signika+Negative&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/43e238e94a.js" crossorigin="anonymous"></script>

    # <script type='text/javascript'>  window.greenFeatherImg = "<%= image_url('green-feather.png') %>";  </script>
    # <script type='text/javascript'>  window.loginImg = "<%= image_url('login-side.jpeg') %>"; </script>
    # <script type='text/javascript'>  window.splashPhoneImg= "<%= image_url('splash-phone.png') %>";</script>
    # <script type='text/javascript'>  window.splashVideo = "<%= asset_url('splash-video.mp4') %>";</script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
