<!DOCTYPE html>
<html>
  <head>
    <title>SparrowHood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Signika+Negative&display=swap" rel="stylesheet">
    <link rel="icon" href="https://sparrowhood-dev.s3.us-west-1.amazonaws.com/images/green-feather.png">

    <script src="https://kit.fontawesome.com/43e238e94a.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/javascript">
      window.alphaAPIKey = "<%= Rails.application.credentials.alpha[:api_key] %>"
    </script>


  <meta property="og:title" content="Sparrowhood" />
  <meta property='og:image' content="<%= image_url('Sparrowhood_meta.png') %>" />
  <meta property="og:description" content="Sparrowhood is a clone of the stock trading website Robinhood. Users can make pseudo transactions and view real time data for stocks." />
  <meta property="og:url" content="https://sparrowhood.herokuapp.com" />

  </head>

  <body>
    
    
    <%= yield %>
 
 
  </body>
</html>
